@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 100vh;
  }

  :root:has(nav > div[aria-haspopup="true"]) {
    --open: 1;
    /* --rotate: 90deg; */
  }
  ::selection {
    @apply bg-sky-700/80 text-rose-200 rounded;
  }
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-300;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded;
  }

  ::-webkit-file-upload-button {
    cursor: pointer;
  }

  body {
    @apply text-slate-800 bg-slate-50;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  legend {
    font-variant: small-caps;
  }
}

@layer components {
  .form-control.active + .form-label,
  .form-control:focus + .form-label {
    top: 0.3rem;
    background: linear-gradient(transparent, white 35%, white 65%, transparent);
    transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
  }
  /* loading spinner */
  .spinner {
    background: conic-gradient(
      #17a2b8 25%,
      rgb(244 63 94) 0 50%,
      #17a2b8 0 75%,
      rgb(244 63 94) 0
    );
    opacity: 0.7;
    animation: s2 4s infinite ease-in-out;
  }
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
    filter: brightness(1.2);
  }
  .spinner::after {
    margin: 25%;
    animation-duration: 5s;
    filter: brightness(1.4);
  }

  @keyframes s2 {
    100% {
      transform: rotate(1turn);
    }
  }

  /* MENU */

  @keyframes topBar-open {
    0% {
      transform: translateY(0px) rotate(0deg);
      width: 60px !important ;
    }
    10% {
      transform: translateY(-8px) rotate(0deg);
      width: 60px !important;
    }
    50% {
      transform: translateY(25px) rotate(45deg);
      width: 84px !important;
    }
    75% {
      transform: translateY(12px) rotate(45deg);
      width: 84px !important;
    }
    100% {
      transform: translateY(17px) rotate(45deg);
      width: 84px !important;
    }
  }

  @keyframes bottomBar-open {
    0% {
      transform: translateY(0px) rotate(0deg);
      width: 60px !important;
    }
    10% {
      transform: translateY(-4px) rotate(0deg);
      width: 60px !important;
    }
    60% {
      transform: translateY(0px) rotate(-45deg);
      width: 84px !important;
    }
    75% {
      transform: translateY(-10px) rotate(-45deg);
      width: 84px !important;
    }
    100% {
      transform: translateY(-4px) rotate(-45deg);
      width: 84px !important;
    }
  }

  @keyframes menuLabel-open {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    25% {
      transform: translateY(-18px);
      opacity: 1;
    }
    45% {
      transform: translateY(44px);
      opacity: 0;
    }
    48% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(30px);
      opacity: 0;
    }
  }

  @keyframes topBar-close {
    0% {
      transform: translateY(17px) rotate(45deg);
      width: 84px !important;
    }
    35% {
      transform: translateY(-8px) rotate(-4deg);
      width: 60px !important;
    }
    53% {
      transform: translateY(10px) rotate(3deg);
      width: 60px !important;
    }
    70% {
      transform: translateY(-6px) rotate(0deg);
      width: 60px !important;
    }
    100% {
      transform: translateY(-2px) rotate(0deg);
      width: 60px !important;
    }
  }

  @keyframes bottomBar-close {
    0% {
      transform: translateY(-8px) rotate(-45deg);
      width: 84px !important;
    }
    35% {
      transform: translateY(-18px) rotate(6deg);
      width: 60px !important;
    }
    53% {
      transform: translateY(0px) rotate(-3deg);
      width: 60px !important;
    }
    68% {
      transform: translateY(-7px) rotate(0deg);
      width: 60px !important;
    }
    100% {
      transform: translateY(0px) rotate(0deg);
      width: 60px !important;
    }
  }

  @keyframes menuLabel-close {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    5% {
      transform: translateY(25px);
      opacity: 0;
    }
    25% {
      transform: translateY(-30px);
      opacity: 0;
    }
    37% {
      transform: translateY(-22px);
      opacity: 0;
    }
    45% {
      transform: translateY(-22px);
      opacity: 1;
    }
    58% {
      transform: translateY(8px) rotate(-10deg);
      opacity: 1;
    }
    83% {
      transform: translateY(-6px) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .triangle {
    shape-outside: polygon(50% 0%, 0 50%, 100% 50%);
    clip-path: polygon(50% 0%, 0 50%, 100% 50%);
  }

  /* ANIMATED BG */
  /* .wallpaper {

    background-image: url("/images/bg/lines.png");

  } */
  .jelly {
    position: fixed;
    top: 0;
    left: 0;
    transform: rotate(80deg);
    width: 100rem;
    height: 90rem;
  }

  .wave {
    top: 0;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 10%;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
  }

  .wave.-one {
    animation: drift 70000ms infinite linear;
    /* background: #0af; */
  }

  .wave.-three {
    animation: drift 75000ms infinite linear;
    position: fixed;
    /* background-color: #77daff; */
  }

  .wave.-two {
    animation: drift 30000ms infinite linear;
    opacity: 0.1;
    /* background: black; */
    position: fixed;
  }

  .jelly:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }

  /*LOADING SPACE*/

  .contain {
    animation-delay: 4s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962ff);
    background: linear-gradient(#25a7d7, #25a7d7);
  }

  .icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
  }

  /*Animation*/
  .icon:nth-child(2) img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .icon:nth-child(3) img {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  .icon:nth-child(4) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .icon img {
    -webkit-animation: anim 4s ease infinite;
    animation: anim 4s ease infinite;
    -webkit-transform: scale(0, 0) rotateZ(180deg);
    transform: scale(0, 0) rotateZ(180deg);
  }

  @-webkit-keyframes anim {
    0% {
      -webkit-transform: scale(0, 0) rotateZ(-90deg);
      transform: scale(0, 0) rotateZ(-90deg);
      opacity: 0;
    }
    30% {
      -webkit-transform: scale(1, 1) rotateZ(0deg);
      transform: scale(1, 1) rotateZ(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1, 1) rotateZ(0deg);
      transform: scale(1, 1) rotateZ(0deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale(0, 0) rotateZ(90deg);
      transform: scale(0, 0) rotateZ(90deg);
      opacity: 0;
    }
  }

  @keyframes anim {
    0% {
      -webkit-transform: scale(0, 0) rotateZ(-90deg);
      transform: scale(0, 0) rotateZ(-90deg);
      opacity: 0;
    }
    30% {
      -webkit-transform: scale(1, 1) rotateZ(0deg);
      transform: scale(1, 1) rotateZ(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1, 1) rotateZ(0deg);
      transform: scale(1, 1) rotateZ(0deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale(0, 0) rotateZ(90deg);
      transform: scale(0, 0) rotateZ(90deg);
      opacity: 0;
    }
  }

  .cssAnimationJumping {
    animation: jumping 3s ease-in-out 1 forwards;
  }

  @keyframes jumping {
    0% {
      transform: translateY(-10rem);
    }
    5% {
      transform: translateY(1rem);
    }
    10% {
      transform: translateY(0);
    }

    85% {
      transform: translateY(0);
    }

    90% {
      transform: translateY(1rem);
    }
    95% {
      transform: translateY(-100rem);
    }
    100% {
      transform: translateY(-100rem);
    }
  }

  .cssAnimationFalling {
    animation: Falling 0.3s cubic-bezier(0.48, 0.54, 0.46, 1.46) 1;
  }

  @keyframes Falling {
    from {
      transform: translateY(-20rem);
    }
  }

  .progress {
    animation: trackProgress 2.6s linear forwards;
  }

  @keyframes trackProgress {
    to {
      width: 0%;
    }
  }
  .justify-between-or-center {
    @apply justify-center;
  }
  .justify-between-or-center:has(.justify-between-or-center:nth-child(2)) {
    @apply justify-between;
  }

  /* Not Used */
  .border-animation-color {
    animation: borderAnimationColor 15s linear infinite;
  }

  @keyframes borderAnimationColor {
    0%,
    20% {
      border-color: #17a2b8;
    }
    25%,
    45% {
      border-color: #f6db8a;
    }
    50%,
    70% {
      border-color: #bfdbfe;
    }
    75%,
    95% {
      border-color: #dd4a65;
    }
    100% {
      border-color: #17a2b8;
    }
  }
}

@layer utilities {
  .errorField {
    @apply border-2 border-blue-500;
  }

  .h-screen-dynamic {
    height: 100dvh;
  }

  .fading-bg {
    background: linear-gradient(transparent 90%, #f8fafc 95%);
  }

  .smallcaps {
    font-variant: small-caps;
  }

  .custom-min-width {
    min-width: 240px /* w-60 */;
  }
}
